@page "/cityPage"
@using Core.Dto

@if (_items != null)
{
    <table class="table">
        <thead>
            <tr>
                <th style="min-width:100px;">Address Warehouses</th>
                <th style="min-width:150px;">Address Main Description</th>
                <th style="width:15%;">Address Area</th>
                <th style="width:15%;">Address Region</th>
                <th style="width:15%;">Address Settlement Type Code</th>
                <th style="width:10%;">Address Ref</th>
                <th style="width:15%;">Address Delivery City</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in _items)
            {
                <tr>
                    <td>@item.Warehouses</td>
                    <td>@item.MainDescription</td>
                    <td>@item.Area</td>
                    <td>@item.Region</td>
                    <td>@item.SettlementTypeCode</td>
                    <td>@item.Ref</td>
                    <td>@item.DeliveryCity</td>
                </tr>
            }
        </tbody>
    </table>
}
