@page "/orderPost"
@using Core.Dto

<h1>Order Post</h1>

@if (_items == null)
{
    <p>Loading...</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Code</th>
                <th>DateTimeCreated</th>
                <th>CustomerPhone</th>
                <th>CreateDateTime</th>
                <th>Status1c</th>
                <th>Approve</th>
                <th>Delivery</th>
                <th>TTN1c</th>
                <th>TTN</th>
                <th>DeliveryServiceName</th>
                <th>DeliveryServiceAlias</th>
                <th>FullName</th>
                <th>CityReceiver</th>
                <th>IDWhs</th>
                <th>ReceiverWhs</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in _items)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Code</td>
                    <td>@item.DateTimeCreated</td>
                    <td>@item.CustomerPhone</td>
                    <td>@item.CreateDateTime</td>
                    <td>@item.Status1c</td>
                    <td>@item.Approve</td>
                    <td>@item.Delivery</td>
                    <td>@item.TTN1c</td>
                    <td>@item.TTN</td>
                    <td>@item.DeliveryServiceName</td>
                    <td>@item.DeliveryServiceAlias</td>
                    <td>@item.FullName</td>
                    <td>@item.CityReceiver</td>
                    <td>@item.IDWhs</td>
                    <td>@item.ReceiverWhs</td>
                </tr>
            }
        </tbody>
    </table>
}
